atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
backports.entry-points-selectable==1.1.0
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.6
charset-normalizer==2.0.4
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.8
cssselect2==0.4.1
defusedxml==0.7.1
distlib==0.3.2
filelock==3.0.12
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
iniconfig==1.1.1
jsonrpc==3.0.1
lxml==4.6.3
packaging==21.0
pdfkit==0.6.1
Pillow==8.3.2
pipenv==2021.5.29
platformdirs==2.3.0
pluggy==1.0.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.5
python-barcode==0.13.1
reportlab==3.6.1
requests==2.26.0
selenium==3.141.0
service-identity==21.1.0
six==1.16.0
svglib==1.1.0
tinycss2==1.1.0
toml==0.10.2
Twisted==21.7.0
twisted-iocpsupport==1.0.2
typing-extensions==3.10.0.2
urllib3==1.26.6
virtualenv==20.8.0
virtualenv-clone==0.5.7
webencodings==0.5.1
zope.interface==5.4.0
